Repository isoppp/sandbox-serverless-appsync: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{js,json,yml,yaml}": ["prettier --write"]
}

format
  handler.ts
  serverless.ts
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint --fix

add dynamo db resource
  config/custom.ts
  config/functions.ts
  config/provider.ts
  config/resources.ts
  config/resources/dynamoDBResources.ts
  serverless.ts
  yarn.lock
Due: prettier --write, eslint --fix

add cognito
  config/custom.ts
  config/resources.ts
  config/resources/cognito.ts
Due: prettier --write, eslint --fix

add iam role
  config/resources.ts
  config/resources/iamRoleStatements.ts
Due: prettier --write, eslint --fix

add appsync
  appsync/resolvers/Mutation.createTodo.request.vtl
  appsync/resolvers/Mutation.createTodo.response.vtl
  appsync/resolvers/Query.listTodos.request.vtl
  appsync/resolvers/Query.listTodos.response.vtl
  config/custom.ts
  config/custom/appSync.ts
  config/custom/appsync/dataSources.ts
  config/custom/appsync/mappingTemplates.ts
  package.json
  schema.graphql
  serverless.ts
  yarn.lock
Due: prettier --write, eslint --fix

support nextToken
  appsync/resolvers/Mutation.createTodo.request.vtl
  appsync/resolvers/Query.listTodos.request.vtl
  appsync/resolvers/Query.listTodos.response.vtl
Due: none

add readme
  README.md
Due: none

Add renovate.json
  renovate.json
Due: prettier --write
